<h1> New Record</h1>
<form action="/host" method="post">
<table>
	<tr> <td> Vehicle ID: </td> <td> <input type="text" name="vehicle_id" required> </td> </tr>
	<tr> <td> Name: </td> <td> <input type="text" name="name" required>  </td> </tr>
	<tr> <td> Vehicle Type: </td> <td><input type="text" name="vehicle_type" required>  </td> </tr>
	<tr> <td> Status: </td> <td> <input type="text" name="status" required>  </td> </tr>
	<tr> <td> Number of Vehicle: </td> <td> <input type="text" name="num_vehicles" required> </td> </tr>
</table>
<button class="rec" type="submit">Save</button>
</form>

