/* Google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6; 
}

/* Nav */

nav {
  display: flex;
  height: 80px;
  background-color: rgb(255, 255, 255);  
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-around;
  align-items: center;

}

.nav-links a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  font-size: 1.1em;
}

nav li {
  display: inline;
  position: relative;
  text-decoration: none;
  color: #1b1b1b;

}

a {
  text-decoration: none;
  color: #000000;
}

.logo {
  margin: 20px; 
}

/* Homepage */

.hero {
  background-image: url('/images/vroom_hero.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 40px;
  text-shadow: 0 10px 40px black;
  background-position-y: 55%;  
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.hero h2 {
  font-size: 2.5em;
  margin: 10px
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Buttons */

.btn {
  display: inline-block;
  background-color: #fff;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #bababa;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s;
  cursor: pointer;
}

.btn2 {
  display: inline-block;
  background-color: #ededed;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #bababa;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}

.btn3 {

  background-color: #ededed;
  color: #000000;
  padding: 10px 20px;
  border: 2px solid #bababa;
  border-radius: 50px;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  background-color: #2d2d2d;
  border: none;
  color: #fff;
}

/* car cards */

.car-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 30px 0;
}

.car-grid img {
  border-radius: 10px;
  width: 500px;
  height:250px;
  object-fit: cover;
}

.car-grid h3 {
  font-size: 1.2em;
 
}

.car-grid p {
  font-size: .9em;
  margin-bottom: 10px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

/* footer */
#footer {
 margin: auto;
 padding: 20px;
 text-align: center;

}



.rec {
  display: flex;
  flex: auto;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}

.searchbar{
  width: auto;
  
 
}
.searchbar input {
  background: #fff;
  padding: 10px;
  border-radius: 30px;
  font-size: 1em;
  border-style: solid;
  border-color: #dedede;
}

/* Table */
td {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  
}

table {
  width: 100%;
}

th {
  background-color: #000000;
  color: #fff;
  font-size: 1em;
  font-weight: 100;
}

/* Dropdown */

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 5%;
  padding: 20px;
  line-height: 300%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.nav a:hover, .dropdown:hover .dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa-solid{
  font-size: 20px;
}

.login {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bababa;
  border-radius: 20px;
  width: 400px;
  height: 450px;
  line-height: 40px;
  background-color: #fff;
  color: #000000;
  text-shadow: none;
}

input {
  padding: 8px;
  border: 2px solid #bababa;
  border-radius: 20px;
}