<h1> New Record</h1>
<form action="/vehicle" method="post">
<table>
	<tr> <td> Vehicle ID: </td> <td> <input type="text" name="vehicle_id" required> </td> </tr>
	<tr> <td> Product Image: </td> <td> <input type="text" name="prodimage" required>  </td> </tr>
	<tr> <td> Description: </td> <td><input type="text" name="description" required>  </td> </tr>
	<tr> <td> Duration: </td> <td> <input type="text" name="duration" required>  </td> </tr>
	<tr> <td> Vehicle Type: </td> <td> <input type="text" name="vehicle_type" required> </td> </tr>
	<tr> <td> Daily Fee: </td> <td> <input type="text" name="daily_fee" required> </td> </tr>
	<tr> <td> State: </td> <td> <input type="text" name="state" required> </td> </tr>
	<tr> <td> Renter ID: </td> <td> <input type="text" name="renter_id" required> </td> </tr>
	<tr> <td> Host ID: </td> <td> <input type="text" name="host_id" required> </td> </tr>
	<tr> <td> Review ID: </td> <td> <input type="text" name="review_id" required> </td> </tr>
	<tr> <td> Status: </td> <td> <select name="status" required> 
						<option selected disabled>Chose Status</option>
						<option>Available</option>
						<option>Reserved</option>
					</select> </td> </tr> 
	<tr> <td> Featured: </td> <td> <input type="checkbox" name="featured"> </td> </tr>	
</table>
<button class="rec" type="submit">Save</button>
</form>

