<h1> New Record</h1>
<form action="/saleorder" method="post">
<table>
	<tr> <td> Order ID: </td> <td> <input type="text" name="saleorder_id" required> </td> </tr>
	<tr> <td> Sale Date: </td> <td> <input type="date" name="saledate" required>  </td> </tr>
	<tr> <td> Host ID: </td> <td><input type="text" name="host_id" required>  </td> </tr>
	<tr> <td> Customer ID: </td> <td> <input type="text" name="customer_id" required>  </td> </tr>
</table>
<button class="rec" type="submit">Save</button>
</form>

