
<div class="hero">

  <div class="login">
  
    <form action="/customer/login" method="post">
      <h3><%= message %></h3>
      <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>
      </p>
      
      <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
      </p>
      
      <p>
      <button class="btn" input type="submit" value="Submit">Submit</button> 
      </p>

      <p>
        <button class="btn3"><a href="/customer/register">Register</a></button>
      </p>
    </form>
  </div>
</div>