<h1>New Password</h1>

<form action="/customer/passwordsave" method="post">
    <p>Current Password: <input type ="password" name="current"></p>
    <p>New Password: <input type ="password" name="new"></p>
    <p><input type ="submit" value="Change Password"></p>
</form>